@using Common.DTOs;
@model TicketDto


<div class="box">
    <div class="justify-content-center align-items-center">
        <div class="mb-3 mt-3">
            <form asp-action="Update" method="post">
                <input asp-for="Username" type="hidden" value="@User.Identity.Name" />
                <div class="form-group">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Severity" class="form-label"></label>
                    <input asp-for="Severity" class="form-control" min="1" max="5" type="number" value="1">
                </div>
                <div class="form-group">
                    <label asp-for="DownloadUrl" class="form-label"></label>
                    <input asp-for="DownloadUrl" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Sha256Checksum" class="form-label"></label>
                    <input asp-for="Sha256Checksum" class="form-control">
                </div>
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
        <form asp-action="Index">
            <button>Back</button>
        </form>
    </div>
</div>

