@model RegisterStandardUserViewModel
@{
    ViewData["Title"] = "Register Page";
}
<div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <form asp-controller="Account" asp-action="Register" method="post" class="form">
                <h1 class="text-center">Register</h1>
                <p class="text-secondary"> Create new account</p>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Username" placeholder="Username" required="required">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" required="required">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="RepeatedPassword" placeholder="Repeat Password" required="required">
                    <span asp-validation-for="RepeatedPassword" class="text-danger"></span>
                </div>
                <input type="submit" name="" value="Register" href="#">
            </form>
        </div>
        <div class="text-center mt-3"> Already have an account? <a asp-controller="Account" asp-action="Login">Log In here</a></div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
