@model Common.DTOs.LoginDto
@{
    ViewData["Title"] = "Home Page";
}
<div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <form asp-controller="Home" asp-action="Login" method="post" class="form">
                //box
                <h1 class="text-center">Login</h1>
                <p class="text-secondary"> Enter your login and password!</p>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" required="required">
                </div>
                <input type="submit" name="" value="Login" href="#">
            </form>
        </div>
    </div>
</div>



            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                    </div>
                </div>
