@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="box">
    <div class="justify-content-center align-items-center">
        <h2>General info</h2>
        <p>
            CQuer was created with the idea of ​​automating the checking of the intergrity of downloaded files.
            The operation consists of downloading the file to the server, where its checksum is checked.
        </p>
        <h2>Status</h2>
        <p>
            Project status: in progress.
        </p>
        <h2>Technologies</h2>
        <p>
            ASP.NET Core, MVC 5, Entity Framework
        </p>
        <h2>License</h2>
        <p>
            Original code in this project is licensed under the beerware license.
        </p>
        <h2>Authors</h2>
        <p>
            MkTech-0-8YT3, Ziwerr, madejowy
        </p>
    </div>
</div>